# Devenv
/.devenv*
/devenv.local.nix

# direnv
/.direnv

# pre-commit
/.pre-commit-config.yaml

# Local VS Code configuration
/.vscode*

# Kernel build artifacts
/*.deb
/*.buildinfo
/*.changes
/.pc

# Kernel module build outputs
**/*.o
**/*.ko
**/*.mod
**/*.mod.c
**/*.mod.o
**/.*.cmd
**/modules.order
**/Module.symvers
**/.module-common.o
**/.tmp_versions/

# Output folder
/out
